:root {
  --brand-color-primary: #a1603b;
  --color-brand-contrast: #fff;
  --color-medium-gray: #898989;
  --color-light-gray: #ccc;
  --color-background: #e5e5e5;
  --font-body: "Segoe UI", Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--brand-color-primary);
}

html body {
  margin: 0;
  padding: 0;
  font: var(--font-body);
  background-color: var(--color-background);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 1.5em 0 1.5em;
  vertical-align: middle;
}

nav > ul > li:first-child {
  margin: 0.5em;
  padding: 0;
}

nav ul li a,
nav ul li a:active,
nav ul li a:hover,
nav ul li a:visited {
  color: var(--color-brand-contrast);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25em;
}

h1 {
  color: var(--brand-color-primary);
}

article {
  padding: 2em;
}

#container {
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.2);
  border: solid 1px var(--color-medium-gray);
  border-radius: 1em;
  padding: 1.5em;
  width: 90%;
  max-width: 325px;
  background-color: var(--color-brand-contrast);
  margin-top: 2em;
}

#container h2 {
  margin: 0.5em 0 0.5em 0;
}

#container input {
  padding: 5px;
  border-radius: 3px;
  border: solid 1px var(--color-medium-gray);
  width: 150px;
}

footer {
  margin: 3em 0;
  padding: 1em;
  background-color: var(--color-light-gray);
}

footer address {
  font-style: normal;
}

footer address h2,
footer address p {
  margin: 0;
}

footer address h2 {
  font-size: 1.25 em;
}

.logo-container {
  display: none;
}

@media (min-width: 960px) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }

  article,
  aside {
    display: block;
    flex-basis: 0;
    flex-shrink: 1;
    padding: 0.75rem;
  }

  article {
    flex: 4;
    padding-right: 6em;
  }

  aside {
    flex: 1;
  }

  footer {
    padding-left: 20%;
  }

  .logo-container {
    display: block;
    text-align: center;
    padding-top: 2em;
  }

  .logo-container img {
    max-width: 125px;
  }
}
